<section class="aboutme-box">
  <div class="wrapper-portfolio">

    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 avatar-circle">
          <div>

          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

          <h3>Sobre mim</h3>

          <div class="social-box">
            <a href="https://github.com/evertontatu" target="_blank">{% include svg/icon-github.svg%}</a>
            <a href="https://www.behance.net/evertonboni" target="_blank">{% include svg/icon-behance.svg%}</a>
            <a href="https://twitter.com/evertonboni" target="_blank">{% include svg/icon-twitter.svg%}</a>
            <a href="https://www.linkedin.com/in/everton-boni-92ab7553" target="_blank">{% include svg/icon-linkedin.svg%}</a>
          </div>

          <p>Olá, me chamo Everton Boni e sou Desenvolvedor Front End morando em Vila Velha, apaixonado pelo que faço, transformo ideias em produtos digitais, com foco nas pessoas meu objetivo é criar interfaces agradáveis utilizando o design e linguagens do desenvolvimento web.</p>

          <p>Possuo capacidade analítica para lidar com programação web e criatividade para desenvolver layouts focado no usuário.</p>

          <p>Meu escritório é na minha casa e defendo a prática do trabalho remoto, não tem coisa melhor quando se sabe gerir o próprio tempo.</p>

          <div class="btn-border-blue">
            <a href="#">Curriculo</a>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>
