<section class="company-box">
  <div class="wrapper-portfolio">

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

          <h3>o site da sua empresa com foco no cliente!</h3>

          <p>Desenvolver um site customizado é poder atender as necessidades do cliente real, identificar o objetivo para criar experiências de valor.</p>

          <div class="btn-border">
            <a href="#">Quero um site!</a>
          </div>


        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        </div>
      </div>

    </div>

  </div>
</section>
