<header>
    <div class="menu">
        <div class="logoMenu">
            <a href="#main">
                <div class="container-svg-logo "><p>logo</p></div>
            </a>
            <p>icon menu</p>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#programa">Portfolio</a></li>
                <li><a href="#requisito">Sobre</a></li>
                <li><a href="#inclui">Blog</a></li>
                <li><a href="#investimento">Contato</a></li>
            </ul>
        </nav>
    </div>

    <div class="parallax-home">
        <div class="text-home">
            <h1>Front End Dev</h1>
            <p >Creative Freelancer Designer</p>
            <a href="#">Portfolio</a>
            <a href="#">Sobre</a>
        </div>
    </div>

</header>
