<header>
    <div class="menu" id="menu">
        <div class="logoMenu">
            <a href="#main">
                <div class="container-svg-logo">{% include svg/logo.svg %}</div>
            </a>
            {% include svg/btn-menu-mobile.svg %}
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </div>

    <div class="parallax-home">
        <div class="text-home">
            <h1>Desenvolvimento de sites</h1>
            <p >Criação de interfaces web focado na experiência do usuário e boas práticas do desenvolvimento web</p>
            <a href="#" target="_blank" class="btn-portfolio" >Portfólio</a>
            <a href="#" target="_blank" class="btn-sobre" >Sobre</a>
        </div>
    </div>

</header>
