<header id="home">
    <div class="menu" id="menu">
        <div class="logoMenu">
            <a class="anchor" href="#home">
                <div class="container-svg-logo">{% include svg/logo.svg %}</div>
            </a>
            {% include svg/btn-menu-mobile.svg %}
        </div>
        <nav id="nav">
            <ul>
                <li><a class="anchor" href="#servicos">Serviços</a></li>
                <li><a class="anchor" href="#portfolio">Portfolio</a></li>
                <li><a class="anchor" href="#sobre">Sobre</a></li>
                <li><a class="anchor" href="#contato">Contato</a></li>
            </ul>
        </nav>
    </div>

    <div class="parallax-home">
        <div class="text-home">
            <h1>Desenvolvimento de sites</h1>
            <p >Criação de interfaces web focado na experiência do usuário e boas práticas do desenvolvimento web</p>
            <div>
              <div class="btn-border">
                <a href="#">Portfólio</a>
              </div>
              <div class="btn-full">
                <a href="#">Sobre</a>
              </div>
            </div>
        </div>
    </div>

</header>
