<section class="portfolio-box">
  <div class="wrapper-portfolio">

    <h2>Portfólio</h2>

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center-item">
          <div class="portfolio-item">
            <picture>
                <source srcset="images/portfolio-tumbnails-phenomenal.jpg" media="(min-width: 40em) and (orientation: portrait)">
                <img srcset="images/portfolio-tumbnails-phenomenal.jpg" alt="Portfolio - Phenomenal Soccer Camp">
            </picture>
            <div>
              <div>
                <p class="portfolio-title">R9 Soccer Camp</p>
                <p>Landing Page</p>
              </div>
              <a href="" class="btn-item-portfolio">{% include svg/btn-link-portfolio.svg %}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center-item">
          <div class="portfolio-item">
            <picture>
                <source srcset="images/portfolio-tumbnails-tenniscamp.jpg" media="(min-width: 40em) and (orientation: portrait)">
                <img srcset="images/portfolio-tumbnails-tenniscamp.jpg" alt="Portfolio - Phenomenal Soccer Camp">
            </picture>
            <div>
              <div>
                <p class="portfolio-title">R9 Soccer Camp</p>
                <p>Landing Page</p>
              </div>
              <a href="" class="btn-item-portfolio">{% include svg/btn-link-portfolio.svg %}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center-item">
          <div class="portfolio-item">
            <picture>
                <source srcset="images/portfolio-tumbnails-feira-ie.jpg" media="(min-width: 40em) and (orientation: portrait)">
                <img srcset="images/portfolio-tumbnails-feira-ie.jpg" alt="Portfolio - Phenomenal Soccer Camp">
            </picture>
            <div>
              <div>
                <p class="portfolio-title">R9 Soccer Camp</p>
                <p>Landing Page</p>
              </div>
              <a href="" class="btn-item-portfolio">{% include svg/btn-link-portfolio.svg %}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center-item">
          <div class="portfolio-item">
            <picture>
                <source srcset="images/portfolio-tumbnails-ie.jpg" media="(min-width: 40em) and (orientation: portrait)">
                <img srcset="images/portfolio-tumbnails-ie.jpg" alt="Portfolio - Phenomenal Soccer Camp">
            </picture>
            <div>
              <div>
                <p class="portfolio-title">R9 Soccer Camp</p>
                <p>Landing Page</p>
              </div>
              <a href="" class="btn-item-portfolio">{% include svg/btn-link-portfolio.svg %}</a>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
