<section class="services-box" id="servicos">
  <div class="container-fluid-sp">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        {% include svg/icons-home-layout.svg %}
        <h3>Layouts</h3>
        <p>Os layouts são criados do zero ou com utilização de temas personalizados, o cliente participa de todo processo até aprovação.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        {% include svg/icons-home-dev.svg %}
        <h3>Desenvolvimento</h3>
        <p>As telas são codificadas utilizando as melhores práticas do desenvolvimento web.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        {% include svg/icons-home-responsivo.svg %}
        <h3>Responsivo</h3>
        <p>Adaptado para ser visto em qualquer dispositivo</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        {% include svg/icons-home-seo.svg %}
        <h3>SEO</h3>
        <p>Utilizando algumas técnicas seu site é otimizado para ser encontrado facilmente nas buscas do google.</p>
      </div>
    </div>
  </div>
</section>
