a{text-decoration:none; color:inherit;}
a:hover{text-decoration:none; color:inherit;}
a:active{text-decoration:none; color:inherit;}

h1{
  font-family: $fontBold;
}

p{
  font-family: 'Open Sans', sans-serif;
}
