a{text-decoration:none; color:inherit;}
a:hover{text-decoration:none; color:inherit;}
a:active{text-decoration:none; color:inherit;}

body {
  font-size: 62.5%;
  font-family: $font-semibold;
  text-transform: uppercase;
}

h1{
  font-family: $font-bold;
  font-size: 2em;
  color: $grey-font
}

h2{
  font-family: $font-bold;
  font-size: 6.6em;
  color: $grey-font
}

p{
  font-family: $font-semibold;
  font-size: 1.8em;
  line-height: 1.8em;
  color:$grey-font;
  text-transform: uppercase;
}

.wrapper{
  width: 1042px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}
