.company-box{
  padding: 130px 0;
  background-color: $blue-dark;
  width: 100%;
  h3{
    margin-bottom: 30px;
  }
  p{
    color: #fff;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:600px){
  .company-box{
    padding: 60px 0;
  }
}
