.parallax-home{
    min-height: 600px;
    max-width: 1920px;
    position: relative;
    background-image:  url(../images/header-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    overflow: hidden;
    div.text-home{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        height: 230px;
        width: 620px;
        margin-left: -310px;
        margin-top: -100px;
        h1{
            font-size: 5em;
            color: #fff;
            text-transform: uppercase;
        }
        p{
              font-size: 2em;
              color: #fff;
              margin: 0 auto;
              margin-top: 10px;
              margin-bottom: 50px;
              line-height: 1.6em;
              text-align: center;
              width: 500px;
        }
        a{
          margin: 10px;
        }
        div{
          display: flex;
          justify-content: center;
        }
    }
}

@media screen and (max-width:600px){
    .parallax-home div.text-home{
        width: 100%;
        padding: 10px;
        left: 0;
        margin-left: 0;
        position: relative;
        h1{
            font-size: 3.3em;
        }
        p{
            font-size: 1.8em;
            width: 100%;
        }
    }
}

.logoMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  transition: 300ms ease-in-out all;
}

.container-svg-logo{
  width: 160px;
  margin-left:10px;
  svg{
    width: 100%;
  }
}

.menu{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 888;
  width: 100%;
  transition: 300ms ease-in-out all;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  -ms-justify-content: space-between;
}


nav{
  margin: 10px;
  z-index: 999;
  transition: 300ms ease-in-out all;
}

nav ul li{
  display:inline-block;
  margin: 0 3px;
  text-align: left;

}

nav ul li a{
  color:white;
  font-size: 1.6em;
  font-family: $font-bold;
  text-transform: uppercase;
  transition: 100ms ease-in-out all;
  padding: 3px 1px;
  margin: 0 10px;
  text-align: left;
  &:hover{
    border-bottom: solid white 2px;
    color: white;
  }
}

//BREAKPOINT

@media screen and (min-width: 0px) and (max-width: 719px){
  nav{display: flex; justify-content: flex-end;width: 100%; margin: 0;}
  nav ul{width:300px; transform: translate(370px, 0); transition: all ease-in-out 300ms; position: absolute;}
  nav ul li{margin: 0; justify-content: center; background-color: $grey-dark; width: 100%;}
  nav ul li a{
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 3em;
    &:hover{
      border-bottom: none;
      background-color: lighten(green, 8);
    }
    &:hover:nav ul li{
      background-color: red;
    }
  }
  nav ul li p{
      color: #fff;
      text-align: center;
      width: 100%;
      font-size: 1.8em;
  }
  .colorNavLink{
      color: #fff;
      &:hover{
          color: #fff;
      }
  }
  .navMobile{transform: translate(0, 0);}
  .home{
    width: 100%;
    height: 100%;
    display: block;
    justify-content:flex-start;
    flex-direction: column;
    background-color: black;
  }
  .menu-mobile{
    display: block;
    width: 60px;
    height: 60px;
    padding: 20px;
    &:hover{
      cursor: pointer;
    }
  }
  .menu{justify-content: space-between; flex-direction: column; background-color: transparent;}
  .logoMenu{width:100%;}
  .menu-mobile path{fill: #fff;}
  .menu-mobile-down path{fill: green;}
}

.bg-black{
  background-color: black;
}
