.parallax-home{
    height: 600px;
    max-width: 1920px;
    position: relative;
    background-image:  url(../images/header-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    overflow: hidden;
    div{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        height: 300px;
        width: 560px;
        margin-left: -280px;
        margin-top: -150px;
        h1{
            font-size: 5em;
            color: #fff;
            text-transform: uppercase;
        }
        p{
              font-size: 2em;
              color: #fff;
              text-transform: uppercase;
              margin-top: 20px;
              margin-bottom: 50px;
              line-height: 1.6em;
              font-weight: 600;
              text-align: center;
        }
        a{
            padding: 20px 30px;
            border-radius: 60px;
            font-size: 2em;
            font-weight: 600;
            margin: 10px;
            transition: 200ms all ease-in-out;
            &:hover{
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:600px){
    .parallax-home div{
        width: 100%;
        padding: 10px;
        left: 0;
        margin-left: 0;
        position: relative;
        h1{
            font-size: 4em;
        }
        p{
            font-size: 16px;
        }
    }
}

.logoMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: 300ms ease-in-out all;
}

.menu{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 888;
  width: 100%;
  transition: 300ms ease-in-out all;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  -ms-justify-content: space-between;
}

nav{
  margin: 10px;
  z-index: 999;
  transition: 300ms ease-in-out all;
}

nav ul li{
  display:inline-block;
  margin: 0 3px;
  p{
      margin-right: 50px;
      font-size: 1.4em;
      padding: 5px 10px;
      border-radius: 3px;
  }
}

nav ul li a{
  color:white;
  font-size: 1.4em;
  text-transform: uppercase;
  transition: 100ms ease-in-out all;
  padding: 5px 1px;
  margin: 0 10px;

  &:hover{
  }
}
