@charset "utf-8";

@font-face {
  font-family: 'akrobat-black';
  src: url('fonts/akrobat-black.eot');
  src: url('fonts/akrobat-black.otf');
  src: url('fonts/akrobat-black.woff') format('woff');
  src: url('fonts/akrobat-black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akrobat-semibold';
  src: url('fonts/akrobat-semibold.eot');
  src: url('fonts/akrobat-semibold.otf');
  src: url('fonts/akrobat-semibold.woff') format('woff');
  src: url('fonts/akrobat-semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:italic');
@import url('https://fonts.googleapis.com/css?family=Roboto:bold');
@import url('https://fonts.googleapis.com/css?family=Roboto:light');

$font-bold: 'akrobat-black', Helvetica, Arial, sans-serif;
$font-open: 'Open Sans', sans-serif;
$font-roboto-light: 'Roboto Light', Helvetica, Arial, sans-serif;
$font-semibold: 'akrobat-semibold', Helvetica, Arial, sans-serif;

$greyColor:  #dbe3e9;
$blue: #358ef7;
$blue-dark: #1571c9;
$grey-light: #f4f5f6;
$grey-medium: #d1d1d1;
$grey-dark: #373939;
$grey-font: #636666;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "common",
  "flexboxgrid",
  "header",
  "services",
  "portfolio",
  "company"
;
