@charset "utf-8";

@font-face {
  font-family: 'akrobat-black';
  src: url('fonts/akrobat-extrabold.eot');
  src: url('fonts/akrobat-extrabold.otf');
  src: url('fonts/akrobat-extrabold.woff') format('woff');
  src: url('fonts/akrobat-extrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$fontBold: 'akrobat-black', Helvetica, Arial, sans-serif;

$greyColor:  #dbe3e9;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "common",
  "header"
;
